.state-active-wrapper {
    align-items: center;
    border: 0.5px solid;
    border-color: var(--neutrallightdarkest);
    border-radius: 12px;
    display: inline-flex;
    gap: 12px;
    height: 36px;
    overflow: hidden;
    padding: 8px 8px 8px 12px;
    position: relative;
  }
  
  .state-active-wrapper .title-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .state-active-wrapper .title-4 {
    color: var(--neutraldarkdarkest);
    font-family: var(--body-body-s-font-family);
    font-size: var(--body-body-s-font-size);
    font-style: var(--body-body-s-font-style);
    font-weight: var(--body-body-s-font-weight);
    letter-spacing: var(--body-body-s-letter-spacing);
    line-height: var(--body-body-s-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .state-active-wrapper .icon-9 {
    height: 12px !important;
    position: relative !important;
    width: 12px !important;
  }
  
  .state-active-wrapper .arrow-down {
    height: 10px !important;
    position: relative !important;
    width: 10px !important;
  }
  