.list-item {
    align-items: center;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 327px;
  }
  
  .list-item .supporting-visuals {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 20px;
  }
  
  .list-item .left-icon {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
  }
  
  .list-item .div {
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .list-item .avatar {
    height: 40px !important;
    position: relative !important;
    width: 40px !important;
  }
  
  .list-item .content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
    position: relative;
  }
  
  .list-item .title {
    align-self: stretch;
    color: var(--neutraldarkdarkest);
    font-family: var(--body-body-m-font-family);
    font-size: var(--body-body-m-font-size);
    font-style: var(--body-body-m-font-style);
    font-weight: 700;
    letter-spacing: var(--body-body-m-letter-spacing);
    line-height: var(--body-body-m-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .list-item .description {
    align-self: stretch;
    color: var(--neutraldarklight);
    font-family: var(--body-body-s-font-family);
    font-size: var(--body-body-s-font-size);
    font-style: var(--body-body-s-font-style);
    font-weight: var(--body-body-s-font-weight);
    letter-spacing: var(--body-body-s-letter-spacing);
    line-height: var(--body-body-s-line-height);
    position: relative;
  }
  
  .list-item .toggle {
    position: relative;
  }
  
  .list-item .ellipse {
    position: relative;
  }
  
  .list-item .supporting-visuals-2 {
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  
  .list-item .content-2 {
    position: relative;
  }
  
  .list-item .ellipse-2 {
    position: relative;
  }
  
  .list-item .avatar-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .list-item .right-button {
    height: 12px !important;
    position: relative !important;
    width: 12px !important;
  }
  
  .list-item .visuals-avatar {
    display: inline-flex;
    flex: 0 0 auto;
  }
  
  .list-item .visuals-icon {
    display: flex;
    width: 20px;
  }
  
  .list-item .visuals-none {
    display: flex;
  }
  
  .list-item .controls-none {
    background-color: var(--neutrallightdark);
    border-radius: 200px;
    height: 24px;
    width: 24px;
  }
  
  .list-item .controls-icon {
    background-color: var(--neutrallightdark);
    border-radius: 200px;
    height: 24px;
    width: 24px;
  }
  
  .list-item .controls-badge {
    align-items: center;
    background-color: var(--highlightdarkest);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 24px;
    justify-content: center;
    padding: 6px;
    width: 24px;
  }
  
  .list-item .controls-checkbox {
    background-color: var(--neutrallightdark);
    border: 1.5px solid;
    border-color: var(--neutrallightdarkest);
    border-radius: 6px;
    height: 24px;
    width: 24px;
  }
  
  .list-item .controls-toggle {
    background-color: var(--neutrallightdark);
    border-radius: 200px;
    height: 28px;
    overflow: hidden;
    width: 45px;
  }
  
  .list-item .none {
    align-self: stretch;
  }
  
  .list-item .visuals-0-icon {
    display: flex;
    gap: 10px;
    width: 20px;
  }
  
  .list-item .visuals-0-none {
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 4px;
  }
  
  .list-item .visuals-0-avatar {
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
  }
  
  .list-item .controls-1-none {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
  }
  
  .list-item .controls-1-badge {
    align-items: center;
    background-color: var(--highlightdarkest);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 24px;
    justify-content: center;
    padding: 6px;
    width: 24px;
  }
  
  .list-item .controls-1-checkbox {
    border: 1.5px solid;
    border-color: var(--neutrallightdarkest);
    border-radius: 6px;
    height: 24px;
    width: 24px;
  }
  
  .list-item .controls-1-toggle {
    background-color: var(--neutrallightdark);
    border-radius: 200px;
    height: 28px;
    overflow: hidden;
    width: 45px;
  }
  
  .list-item .toggle.controls-none .ellipse {
    width: 20px;
  }
  
  .list-item .toggle.controls-icon .ellipse {
    width: 20px;
  }
  
  .list-item .toggle.controls-badge .ellipse {
    color: var(--neutrallightlightest);
    font-family: var(--caption-caption-m-font-family);
    font-size: var(--caption-caption-m-font-size);
    font-style: var(--caption-caption-m-font-style);
    font-weight: var(--caption-caption-m-font-weight);
    letter-spacing: var(--caption-caption-m-letter-spacing);
    line-height: var(--caption-caption-m-line-height);
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .list-item .toggle.controls-checkbox .ellipse {
    width: 20px;
  }
  
  .list-item .toggle.controls-toggle .ellipse {
    background-color: var(--neutrallightlightest);
    border-radius: 10px;
    height: 20px;
    left: 4px;
    top: 4px;
    width: 20px;
  }
  
  .list-item .content-2.controls-1-none .ellipse-2 {
    width: 20px;
  }
  
  .list-item .content-2.controls-1-icon .ellipse-2 {
    width: 20px;
  }
  
  .list-item .content-2.controls-1-badge .ellipse-2 {
    color: var(--neutrallightlightest);
    font-family: var(--caption-caption-m-font-family);
    font-size: var(--caption-caption-m-font-size);
    font-style: var(--caption-caption-m-font-style);
    font-weight: var(--caption-caption-m-font-weight);
    letter-spacing: var(--caption-caption-m-letter-spacing);
    line-height: var(--caption-caption-m-line-height);
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .list-item .content-2.controls-1-checkbox .ellipse-2 {
    width: 20px;
  }
  
  .list-item .content-2.controls-1-toggle .ellipse-2 {
    background-color: var(--neutrallightlightest);
    border-radius: 10px;
    height: 20px;
    left: 4px;
    top: 4px;
    width: 20px;
  }
  