.quiz {
background-color: #ffffff;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

.quiz .div-2 {
background-color: var(--neutrallightlightest);
height: 812px;
overflow: hidden;
position: relative;
width: 375px;
}

.quiz .overlap-group {
height: 705px;
left: 0;
position: absolute;
top: 107px;
width: 375px;
}

.quiz .button-primary-instance {
    display: flex !important;
    height: 125px !important;
    width: 142px !important;
  }

  .quiz .button-primary-instance-2 {
    display: flex !important;
    height: 125px !important;
    width: 142px !important;
    background-color: var(--supporterrordark);
  }

.quiz .feed {
align-items: flex-end;
display: flex;
flex-direction: column;
height: 617px;
left: 0;
position: absolute;
top: 0;
width: 375px;
}

.quiz .products {
align-items: flex-start;
align-self: stretch;
display: flex;
flex-direction: column;
gap: 40px;
height: 336px;
padding: 24px 16px;
position: relative;
width: 100%;
}

.quiz .vertical-card-wrapper {
align-items: flex-start;
align-self: stretch;
display: flex;
gap: 12px;
height: 285px;
position: relative;
width: 90%;
}

.quiz .vertical-card {
align-items: flex-start;
background-color: var(--neutrallightlight);
border-radius: 16px;
display: flex;
flex: 1;
flex-direction: column;
flex-grow: 1;
height: 285px;
overflow: hidden;
position: relative;
}

.quiz .frame {
align-self: stretch;
height: 120px;
position: relative;
width: 100%;
}

.quiz .content {
align-items: flex-start;
align-self: stretch;
display: flex;
flex: 0 0 auto;
flex-direction: column;
gap: 16px;
padding: 16px;
position: relative;
width: 90%;
}

.quiz .title {
align-items: flex-start;
align-self: stretch;
display: flex;
flex: 0 0 auto;
flex-direction: column;
gap: 4px;
position: relative;
width: 100%;
}

.quiz .question {
align-self: stretch;
color: var(--neutraldarkdarkest);
font-family: var(--heading-h2-font-family);
font-size: var(--heading-h2-font-size);
font-style: var(--heading-h2-font-style);
font-weight: var(--heading-h2-font-weight);
letter-spacing: var(--heading-h2-letter-spacing);
line-height: var(--heading-h2-line-height);
margin-top: -1px;
position: relative;
text-align: center;
}

.quiz .products-wrapper {
align-items: flex-start;
align-self: stretch;
display: flex;
flex-direction: column;
height: 196px;
padding: 24px 16px;
position: relative;
width: 100%;
}

.quiz .products-2 {
align-items: flex-start;
align-self: stretch;
display: flex;
flex: 0 0 auto;
gap: 12px;
margin-bottom: -2px;
position: relative;
width: 100%;
}

.quiz .vertical-card-2 {
align-items: flex-start;
background-color: var(--highlightdarkest);
border-radius: 16px;
display: flex;
flex: 1;
flex-direction: column;
flex-grow: 1;
height: 149px;
overflow: hidden;
position: relative;
}

.quiz .p {
align-self: stretch;
color: var(--neutrallightlightest);
font-family: "Inter", Helvetica;
font-size: 12px;
font-weight: 400;
line-height: normal;
margin-top: -1px;
position: relative;
text-align: center;
}

.quiz .text-wrapper {
font-family: var(--heading-h5-font-family);
font-size: var(--heading-h5-font-size);
font-style: var(--heading-h5-font-style);
font-weight: var(--heading-h5-font-weight);
letter-spacing: var(--heading-h5-letter-spacing);
line-height: var(--heading-h5-line-height);
}

.quiz .span {
font-family: var(--heading-h1-font-family);
font-size: var(--heading-h1-font-size);
font-style: var(--heading-h1-font-style);
font-weight: var(--heading-h1-font-weight);
letter-spacing: var(--heading-h1-letter-spacing);
line-height: var(--heading-h1-line-height);
}

.quiz .vertical-card-3 {
align-items: flex-start;
background-color: var(--highlightdarkest);
border-radius: 16px;
display: flex;
flex: 1;
flex-direction: column;
flex-grow: 1;
height: 150px;
overflow: hidden;
position: relative;
}

.quiz .tab-bar {
align-items: flex-start;
background-color: var(--neutrallightlightest);
display: flex;
gap: 4px;
height: 88px;
left: 0;
padding: 16px 16px 32px;
position: absolute;
top: 617px;
width: 375px;
}

.quiz .tab {
align-items: center;
display: flex;
flex: 1;
flex-direction: column;
flex-grow: 1;
gap: 8px;
margin-bottom: -2px;
position: relative;
}

.quiz .icon-instance-node {
height: 20px !important;
position: relative !important;
width: 20px !important;
}

.quiz .img {
flex: 0 0 auto;
position: relative;
}

.quiz .tab-bar-item-instance {
flex: 1 !important;
flex-grow: 1 !important;
width: unset !important;
}

.quiz .design-component-instance-node {
font-family: "Inter", Helvetica !important;
font-size: 30px !important;
font-style: unset !important;
font-weight: 700 !important;
letter-spacing: 0 !important;
line-height: normal !important;
color: #ffffff;
}

.quiz .tab-3 {
flex: 1 !important;
flex-grow: 1 !important;
margin-bottom: -2px !important;
width: unset !important;
}

.quiz .nav-bar-instance {
left: -1px !important;
position: absolute !important;
top: 44px !important;
}

.quiz .nav-bar-2 {
left: 164px !important;
}

.quiz .left-button-4 {
height: 20px !important;
left: 24px !important;
position: absolute !important;
top: 18px !important;
width: 20px !important;
}