.search-bar {
    align-items: flex-end;
    background-color: var(--neutrallightlight);
    border-radius: 24px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 12px 16px;
    position: relative;
    width: 311px;
  }
  
  .search-bar .text {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 1px;
    position: relative;
  }
  
  .search-bar .text-2 {
    font-family: var(--body-body-m-font-family);
    font-size: var(--body-body-m-font-size);
    font-style: var(--body-body-m-font-style);
    font-weight: var(--body-body-m-font-weight);
    letter-spacing: var(--body-body-m-letter-spacing);
    line-height: var(--body-body-m-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .search-bar .cursor {
    height: 17.5px;
    position: relative;
    width: 1.5px;
  }
  
  .search-bar .search-instance {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .search-bar .empty {
    color: var(--neutraldarklightest);
  }
  
  .search-bar .typing {
    color: var(--neutraldarkdarkest);
  }
  
  .search-bar .filled {
    color: var(--neutraldarkdarkest);
  }
  