.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .card .div-2 {
    background-color: var(--neutrallightlightest);
    height: 812px;
    position: relative;
    width: 375px;
  }
  
  .card .products {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 624px;
    left: 0;
    overflow-y: scroll;
    padding: 24px 16px 0px;
    position: absolute;
    top: 100px;
    width: 375px;
  }
  
  .card .card {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .card .events {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .card .vertical-card {
    align-items: flex-start;
    background-color: var(--neutrallightlight);
    border-radius: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    height: 180px;
    overflow: hidden;
    position: relative;
  }
  
  .card .frame {
    align-self: stretch;
    height: 120px;
    position: relative;
    width: 100%;
  }
  
  .card .image-instance {
    width: 343px !important;
  }
  
  .card .icon-instance-node {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
  }
  
  .card .content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .card .title {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
  }
  
  .card .title-2 {
    align-self: stretch;
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .card .subtitle {
    align-self: stretch;
    color: var(--neutraldarklight);
    font-family: var(--body-body-s-font-family);
    font-size: var(--body-body-s-font-size);
    font-style: var(--body-body-s-font-style);
    font-weight: var(--body-body-s-font-weight);
    letter-spacing: var(--body-body-s-letter-spacing);
    line-height: var(--body-body-s-line-height);
    position: relative;
  }
  
  .card .badge-instance {
    margin-left: -30px !important;
  }
  
  .card .tab-bar {
    align-items: flex-start;
    background-color: var(--neutrallightlightest);
    display: flex;
    gap: 4px;
    height: 88px;
    left: 0;
    padding: 16px 16px 32px;
    position: absolute;
    top: 724px;
    width: 375px;
    justify-content: space-around;
  }
  
  .card .tab {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    margin-bottom: -2px;
    position: relative;
  }
  
  .card .icon-2 {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
  }
  
  .card .img {
    flex: 0 0 auto;
    position: relative;
  }
  
  .card .tab-bar-item-instance {
    flex: 1 !important;
    flex-grow: 1 !important;
    width: unset !important;
  }
  
  .card .design-component-instance-node {
    color: var(--neutraldarklight) !important;
    font-family: "Inter", Helvetica !important;
    font-size: 10px !important;
    font-style: unset !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    line-height: normal !important;
  }
  
  .card .tab-2 {
    flex: 1 !important;
    flex-grow: 1 !important;
    margin-bottom: -2px !important;
    width: unset !important;
  }
  
  .card .tab-3 {
    color: var(--neutraldarkdarkest) !important;
    font-family: "Inter", Helvetica !important;
    font-size: 10px !important;
    font-style: unset !important;
    font-weight: 700 !important;
    letter-spacing: 0.15px !important;
    line-height: 14px !important;
  }
  
  .card .nav-bar-instance {
    left: 0 !important;
    position: absolute !important;
    top: 44px !important;
  }
  
  .card .nav-bar-2 {
    left: 170px !important;
  }
  
  .card .left-button-5 {
    height: 20px !important;
    left: 24px !important;
    position: absolute !important;
    top: 18px !important;
    width: 20px !important;
  }
  