.searchFriends {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
.searchFriends .div-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 729px;
    padding: 24px;
    position: relative;
    top: 83px;
    width: 375px;
}
  
  .searchFriends .header {
    background-color: var(--neutrallightlight);
    height: 113px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1759px;
  }

  .searchFriends .search-friends {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 729px;
    padding: 24px;
    position: relative;
    top: 83px;
    width: 375px;
  }
  
  .searchFriends .title-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .searchFriends .star-filled-wrapper {
    align-items: flex-start;
    background-color: var(--neutrallightmedium);
    border-radius: 16px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 16px;
    position: relative;
  }

  .searchFriends .search-bar-instance {
    left: 16px !important;
    position: absolute !important;
    top: 112px !important;
    width: 343px !important;
  }
  
  .searchFriends .icon-instance-node {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .searchFriends .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    position: relative;
  }
  
  .searchFriends .text-wrapper {
    color: var(--neutraldarkdarkest);
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.24px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .searchFriends .feed {
    background-color: var(--neutrallightlightest);
    height: 812px;
    left: 45px;
    overflow: hidden;
    position: absolute;
    top: 170px;
    width: 375px;
  }
  
  .searchFriends .list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 620px;
    left: 0;
    padding: 16px 8px;
    position: absolute;
    top: 100px;
    width: 375px;
  }
  
  .searchFriends .list-item-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .searchFriends .avatar-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .searchFriends .avatar-15 {
    height: 40px !important;
    position: relative !important;
    width: 40px !important;
  }
  
  .searchFriends .content-3 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
    position: relative;
  }
  
  .searchFriends .title-3 {
    align-self: stretch;
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h5-font-family);
    font-size: var(--heading-h5-font-size);
    font-style: var(--heading-h5-font-style);
    font-weight: var(--heading-h5-font-weight);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .searchFriends .p {
    align-self: stretch;
    color: transparent;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    line-height: 16px;
    position: relative;
  }
  
  .searchFriends .span {
    color: #71727a;
    font-family: var(--body-body-s-font-family);
    font-size: var(--body-body-s-font-size);
    font-style: var(--body-body-s-font-style);
    font-weight: var(--body-body-s-font-weight);
    letter-spacing: var(--body-body-s-letter-spacing);
    line-height: var(--body-body-s-line-height);
  }
  
  .searchFriends .text-wrapper-2 {
    color: #71727a;
    font-weight: 700;
  }
  
  .searchFriends .text-wrapper-3 {
    color: #ed3241;
    font-weight: 700;
  }
  
  .searchFriends .tab-bar {
    align-items: flex-start;
    background-color: var(--neutrallightlightest);
    display: flex;
    gap: 4px;
    height: 88px;
    left: -1px;
    padding: 16px 16px 32px;
    position: absolute;
    top: 720px;
    width: 375px;
  }
  
  .searchFriends .tab-3 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    margin-bottom: -2px;
    position: relative;
  }
  .searchFriends .icon-2 {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
  }
  
  .searchFriends .img {
    flex: 0 0 auto;
    position: relative;
  }
  
  .searchFriends .tab-bar-item-instance {
    flex: 1 !important;
    flex-grow: 1 !important;
    width: unset !important;
  }
  
  .searchFriends .design-component-instance-node {
    color: var(--neutraldarklight) !important;
    font-family: "Inter", Helvetica !important;
    font-size: 10px !important;
    font-style: unset !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    line-height: normal !important;
  }
  
  .searchFriends .tab-2 {
    flex: 1 !important;
    flex-grow: 1 !important;
    margin-bottom: -2px !important;
    width: unset !important;
  }
  
  .searchFriends .tab-3 {
    color: var(--neutraldarkdarkest) !important;
    font-family: "Inter", Helvetica !important;
    font-size: 10px !important;
    font-style: unset !important;
    font-weight: 700 !important;
    letter-spacing: 0.15px !important;
    line-height: 14px !important;
  }
  
  .searchFriends .nav-bar-instance {
    left: 0 !important;
    position: absolute !important;
    top: 44px !important;
  }
  
  .searchFriends .right-button-5 {
    height: 20px !important;
    left: 331px !important;
    position: absolute !important;
    top: 18px !important;
    width: 20px !important;
  }
  
  .searchFriends .nav-bar-2 {
    left: 170px !important;
  }
  
  .searchFriends .feed-null {
    background-color: var(--neutrallightlightest);
    height: 812px;
    left: 477px;
    overflow: hidden;
    position: absolute;
    top: 166px;
    width: 375px;
  }
  
  .searchFriends .list-item-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 1px;
    padding: 16px 8px;
    position: absolute;
    top: 100px;
    width: 375px;
  }
  
  .searchFriends .list-item-instance {
    align-self: stretch !important;
    border-radius: unset !important;
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  
  .searchFriends .list-item-3 {
    font-family: "Inter", Helvetica !important;
    font-size: 12px !important;
    font-style: unset !important;
    font-weight: 700 !important;
    letter-spacing: 0.12px !important;
    line-height: 16px !important;
    margin-top: -1px !important;
    text-align: center !important;
  }
  
  .searchFriends .tab-bar-2 {
    align-items: flex-start;
    background-color: var(--neutrallightlightest);
    display: flex;
    gap: 4px;
    height: 88px;
    left: 1px;
    padding: 16px 16px 32px;
    position: absolute;
    top: 724px;
    width: 375px;
  }
  
  .searchFriends .ios-status-bar-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .searchFriends .friends {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 556px;
    left: 0;
    padding: 16px 8px;
    position: absolute;
    top: 168px;
    width: 375px;
  }
  
  .searchFriends .list-item-4 {
    font-family: "Inter", Helvetica !important;
    font-size: 14px !important;
    font-style: unset !important;
    font-weight: 700 !important;
    letter-spacing: 0 !important;
    line-height: 20px !important;
  }
  
  .searchFriends .right-button-6 {
    height: 12px !important;
    position: relative !important;
    width: 12px !important;
  }
  
  .searchFriends .list-item-5 {
    flex: 0 0 auto !important;
  }
  
  .searchFriends .tab-bar-3 {
    align-items: flex-start;
    background-color: var(--neutrallightlightest);
    display: flex;
    gap: 4px;
    height: 88px;
    left: -1px;
    padding: 16px 16px 32px;
    position: absolute;
    top: 724px;
    width: 375px;
  }
  
  .searchFriends .nav-bar-3 {
    left: 160px !important;
  }

  .searchFriends .text-field-instance {
    display: flex;
    position: absolute;
    top: 120px;
  }
  
  .searchFriends .input-field-stock {
    flex: 0 0 auto !important;
    width: 200px !important;
    flex-direction: column;
    color: var(--neutraldarklightest);
    font-family: var(--body-body-m-font-family);
    font-size: var(--body-body-m-font-size);
    font-style: var(--body-body-m-font-style);
    font-weight: var(--body-body-m-font-weight);
    letter-spacing: var(--body-body-m-letter-spacing);
    line-height: var(--body-body-m-line-height);
    margin-top: -1px;
    white-space: nowrap;
    align-self: stretch;
    border-radius: 12px;
    height: 48px;
    overflow: hidden;
    padding: 0px 16px;
    align-items: center;
    display: flex;
    gap: 1px;
    position: relative;
    border: none;
    background-color: var(--neutrallightmedium);
}

.searchFriends .searchbar-icon {
  position : absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 10px;
  margin: 0;
  color: var(--neutraldarklightest);
}

.searchFriends .input-field-stock:focus {
  outline:none;
}