.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-up .div-2 {
  background-color: var(--neutrallightlight);
  height: 1028px;
  position: relative;
  width: 1759px;
}

.subtitle {
  align-self: stretch;
  font-family: var(--heading-h5-font-family);
  font-size: var(--heading-h5-font-size);
  font-style: var(--heading-h5-font-style);
  font-weight: var(--heading-h5-font-weight);
  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: var(--heading-h5-line-height);
  margin: 10px;
  position: relative;
}

.sign-up .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  position: relative;
}

.sign-up .text-wrapper-5 {
  color: var(--neutraldarkdarkest);
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.24px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.sign-up .login-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 812px;
  padding: 40px 24px;
  position: relative;
  width: 375px;
}


.sign-up .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.sign-up .text-field-instance {
  flex: 0 0 auto !important;
  width: 240px !important;
}

.sign-up .email-input-field {
    flex: 0 0 auto !important;
    width: 240px !important;
    flex-direction: column;
    color: var(--neutraldarklightest);
    font-family: var(--body-body-m-font-family);
    font-size: var(--body-body-m-font-size);
    font-style: var(--body-body-m-font-style);
    font-weight: var(--body-body-m-font-weight);
    letter-spacing: var(--body-body-m-letter-spacing);
    line-height: var(--body-body-m-line-height);
    margin-top: -1px;
    white-space: nowrap;
    align-self: stretch;
    border-radius: 12px;
    height: 48px;
    overflow: hidden;
    padding: 12px 16px;
    align-items: center;
    display: flex;
    gap: 1px;
    position: relative;
    border: 1px solid;
    border-color: var(--neutrallightdarkest);
}

.sign-up .text-wrapper-7 {
  align-self: stretch;
  color: var(--highlightdarkest);
  font-family: var(--action-action-m-font-family);
  font-size: var(--action-action-m-font-size);
  font-style: var(--action-action-m-font-style);
  font-weight: var(--action-action-m-font-weight);
  letter-spacing: var(--action-action-m-letter-spacing);
  line-height: var(--action-action-m-line-height);
  position: relative;
}

.sign-up .button-primary-instance {
  align-self: stretch !important;
  display: flex !important;
  height: 48px !important;
  width: 100% !important;
}

.blue-btn {
  all: unset;
  align-items: center;
  background-color: var(--highlightdarkest);
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;

  color: var(--neutrallightlightest);
  font-family: var(--action-action-m-font-family);
  font-size: var(--action-action-m-font-size);
  font-style: var(--action-action-m-font-style);
  font-weight: var(--action-action-m-font-weight);
  letter-spacing: var(--action-action-m-letter-spacing);
  line-height: var(--action-action-m-line-height);
  margin-top: -0.5px;
  position: relative;

  align-self: stretch !important;
  display: flex !important;
  height: 48px !important;
  width: 100% !important;
  cursor: pointer;
}

.blue-btn:disabled {
  background-color: var(--neutrallightlight); /* 비활성화된 버튼의 배경색 설정 */
  color: #ccc; /* 비활성화된 버튼의 글자색 설정 */
  cursor: not-allowed; /* 비활성화된 버튼에 손가락 커서 아이콘 대신 '금지' 아이콘 사용 */
}

.sign-up .button-primary-2 {
  margin-top: unset !important;
}

.sign-up .div-4 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  position: relative;
  text-align: center;
  width: 327px;
}

.sign-up .span {
  color: #71727a;
  font-family: var(--body-body-s-font-family);
  font-size: var(--body-body-s-font-size);
  font-style: var(--body-body-s-font-style);
  font-weight: var(--body-body-s-font-weight);
  letter-spacing: var(--body-body-s-letter-spacing);
  line-height: var(--body-body-s-line-height);
}

.sign-up .text-wrapper-8 {
  color: #124cf5;
  font-family: var(--action-action-m-font-family);
  font-size: var(--action-action-m-font-size);
  font-style: var(--action-action-m-font-style);
  font-weight: var(--action-action-m-font-weight);
  letter-spacing: var(--action-action-m-letter-spacing);
  line-height: var(--action-action-m-line-height);
}

.sign-up .divider {
  align-self: stretch !important;
  height: 1px !important;
  margin-left: -0.25px !important;
  margin-right: -0.25px !important;
  object-fit: cover !important;
  position: relative !important;
  width: 100% !important;
}

.sign-up .social-login {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.sign-up .text-wrapper-9 {
  color: var(--neutraldarklight);
  font-family: var(--body-body-s-font-family);
  font-size: var(--body-body-s-font-size);
  font-style: var(--body-body-s-font-style);
  font-weight: var(--body-body-s-font-weight);
  letter-spacing: var(--body-body-s-letter-spacing);
  line-height: var(--body-body-s-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-up .buttons {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.sign-up .button-primary-3 {
  background-color: var(--supporterrordark) !important;
  border-radius: 63px !important;
  display: flex !important;
  padding: 8px 16px !important;
  width: 40px !important;
}

.sign-up .button-primary-4 {
  background-color: var(--neutraldarkdarkest) !important;
  border-radius: 63px !important;
  display: flex !important;
  padding: 8px 16px !important;
  width: 40px !important;
}

.sign-up .button-primary-5 {
  border-radius: 63px !important;
  display: flex !important;
  padding: 8px 16px !important;
  width: 40px !important;
}

.sign-up .sign-up {
  background-color: var(--neutrallightlightest);
  height: 812px;
  left: 476px;
  position: absolute;
  top: 170px;
  width: 375px;
}

.sign-up .login-options-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 436px;
  left: 0;
  padding: 24px;
  position: absolute;
  top: 83px;
  width: 375px;
}

.input-field {
  flex: 0 0 auto !important;
  width: 327px !important;
  flex-direction: column;
  color: var(--neutraldarklightest);
  font-family: var(--body-body-m-font-family);
  font-size: var(--body-body-m-font-size);
  font-style: var(--body-body-m-font-style);
  font-weight: var(--body-body-m-font-weight);
  letter-spacing: var(--body-body-m-letter-spacing);
  line-height: var(--body-body-m-line-height);
  margin-top: -1px;
  white-space: nowrap;
  align-self: stretch;
  border-radius: 12px;
  height: 48px;
  overflow: hidden;
  padding: 12px 16px;
  align-items: center;
  display: flex;
  gap: 1px;
  position: relative;
  border: 1px solid;
  border-color: var(--neutrallightdarkest);
}

.sign-up .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.sign-up .text-wrapper-10 {
  color: var(--neutraldarkdarkest);
  font-family: var(--heading-h3-font-family);
  font-size: var(--heading-h3-font-size);
  font-style: var(--heading-h3-font-style);
  font-weight: var(--heading-h3-font-weight);
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  margin-top: -1px;
  position: relative;
  width: 327px;
}

.sign-up .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  margin-bottom: -12px;
  position: relative;
  width: 100%;
}

.sign-up .checkbox-instance {
  position: relative !important;
}

.sign-up .text-wrapper-11 {
  color: var(--neutraldarklight);
  flex: 1;
  font-family: var(--body-body-s-font-family);
  font-size: var(--body-body-s-font-size);
  font-style: var(--body-body-s-font-style);
  font-weight: var(--body-body-s-font-weight);
  letter-spacing: var(--body-body-s-letter-spacing);
  line-height: var(--body-body-s-line-height);
  position: relative;
}

.sign-up .ios-keyboard-portrait {
  left: 0 !important;
  position: absolute !important;
  top: 519px !important;
}

.sign-up .ios-status-bar-instance {
  background-color: unset !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.sign-up .login-options-wrapper {
  background-color: var(--neutrallightlightest);
  height: 812px;
  left: 907px;
  position: absolute;
  top: 170px;
  width: 375px;
}

.sign-up .login-options-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  position: relative;
  top: 83px;
  width: 375px;
  height: 729px;
  overflow-y: scroll;
}

.sign-up .text-field-2 {
  border-color: var(--neutrallightdarkest) !important;
}

.sign-up .email-field {
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: space-between;
}

.sign-up .email-btn {
  width: 90px;
  height: 48px;
  background-color: var(--highlightdarkest);
  border-radius: 12px;
  gap: 8px;
  overflow: hidden;
  padding: 12px 16px;
  color: var(--neutrallightlightest);
  font-family: var(--action-action-m-font-family);
  font-size: var(--action-action-m-font-size);
  font-style: var(--action-action-m-font-style);
  font-weight: var(--action-action-m-font-weight);
  letter-spacing: var(--action-action-m-letter-spacing);
  line-height: var(--action-action-m-line-height);
  margin-top: -0.5px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.sign-up .code-btn {
  width: 90px;
  height: 48px;
  background-color: var(--highlightdarkest);
  border-radius: 12px;
  gap: 8px;
  overflow: hidden;
  padding: 12px 16px;
  color: var(--neutrallightlightest);
  font-family: var(--action-action-m-font-family);
  font-size: var(--action-action-m-font-size);
  font-style: var(--action-action-m-font-style);
  font-weight: var(--action-action-m-font-weight);
  letter-spacing: var(--action-action-m-letter-spacing);
  line-height: var(--action-action-m-line-height);
  margin-top: -0.5px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.sign-up .frame-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 100%;
}

.sign-up .sign-up-2 {
  background-color: var(--neutrallightlightest);
  height: 812px;
  left: 1338px;
  overflow: hidden;
  position: absolute;
  top: 170px;
  width: 375px;
}

.button-primary {
  all: unset;
  align-items: center;
  background-color: var(--highlightdarkest);
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
}

.button-primary .button {
color: var(--neutrallightlightest);
font-family: var(--action-action-m-font-family);
font-size: var(--action-action-m-font-size);
font-style: var(--action-action-m-font-style);
font-weight: var(--action-action-m-font-weight);
letter-spacing: var(--action-action-m-letter-spacing);
line-height: var(--action-action-m-line-height);
margin-top: -0.5px;
position: relative;
width: fit-content;
}

.text-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.text-field .title {
  align-self: stretch;
  font-family: var(--heading-h5-font-family);
  font-size: var(--heading-h5-font-size);
  font-style: var(--heading-h5-font-style);
  font-weight: var(--heading-h5-font-weight);
  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: var(--heading-h5-line-height);
  margin-top: -1px;
  position: relative;
}

.text-field .field {
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  height: 48px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}

.text-field .content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 6px;
  position: relative;
}

.text-field .text {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 1px;
  position: relative;
}

.text-field .text-wrapper {
  color: var(--neutraldarklightest);
  font-family: var(--body-body-m-font-family);
  font-size: var(--body-body-m-font-size);
  font-style: var(--body-body-m-font-style);
  font-weight: var(--body-body-m-font-weight);
  letter-spacing: var(--body-body-m-letter-spacing);
  line-height: var(--body-body-m-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-field .div {
  font-family: var(--body-body-m-font-family);
  font-size: var(--body-body-m-font-size);
  font-style: var(--body-body-m-font-style);
  font-weight: var(--body-body-m-font-weight);
  letter-spacing: var(--body-body-m-letter-spacing);
  line-height: var(--body-body-m-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-field .cursor {
  height: 17.5px;
  position: relative;
  width: 1.5px;
}

.text-field .typing {
  color: var(--neutraldarkdark);
}

.text-field .inactive {
  color: var(--neutraldarklightest);
}

.text-field .filled {
  color: var(--neutraldarkdark);
}

.text-field .empty {
  color: var(--neutraldarkdark);
}

.text-field .error {
  color: var(--neutraldarkdark);
}

.text-field .state-typing {
  border: 1.5px solid;
  border-color: var(--highlightdarkest);
}

.text-field .state-inactive {
  background-color: var(--neutrallightlight);
  border: 1px solid;
  border-color: var(--neutrallightdarkest);
}

.text-field .state-filled {
  border: 1px solid;
  border-color: var(--neutrallightdarkest);
}

.text-field .state-empty {
  border: 1px solid;
  border-color: var(--neutrallightdarkest);
}

.text-field .state-error {
  border: 1.5px solid;
  border-color: var(--supporterrormedium);
}

.text-field .field.state-typing .div {
  color: var(--neutraldarkdarkest);
}

.text-field .field.state-inactive .div {
  color: var(--neutraldarklightest);
}

.text-field .field.state-filled .div {
  color: var(--neutraldarkdarkest);
}

.text-field .field.state-empty .div {
  color: var(--neutraldarkdarkest);
}

.text-field .field.state-error .div {
  color: var(--neutraldarkdarkest);
}
